<!-- <h1>Profiles#index</h1>
<p>Find me in app/views/profiles/index.html.erb</p> -->

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <title>Cospace</title>
  </head>
  <body>
    <div class="col-12"> <!-- profile ciode goes here -->
          <h1>Profile</h1>
            
            
            <div class="container">
              <div class="row">
                <div class="col-3">
                  <img src="http://via.placeholder.com/200x200" alt="profile picture">
                  <input id="files-upload" type="file" multiple>
                  <span class="showonhover"></span>
                  <input id="selectfile" type="file" name="" style="display: none;" />
                </div>
                <div class="col-6">
                  <p>Name: John Appleseed </p>
                  <p>Email: email@gmail.com <a href="#">edit</a></p>
                  <p>Phone number: 0912345678 <a href="#">edit</a></p>
                </div>
              </div>
            </div>
  </body>
</html>