<div class="container-fluid">
<h1> My Bookings </h1>
  <br>
  <div class="row">
    <div class="col-6">
    </div>
    <div class="col-3">
      <button class="btn btn-secondary container-fluid">Download as CSV</button>
    </div>
    <div class="col-3">
      <button class="btn btn-secondary container-fluid">Download as PDF</button>
    </div>
  </div>
  <br>
  <p>
    <div class="row">
      <div class="col-10">
        <button class="btn btn-primary container-fluid" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
          Room Booking 1
        </button>
      </div>
      <div class="col-2">

        <%= link_to "Invoice", create_pdf_invoices_path(:format => :pdf), :class => "btn btn-success container-fluid"%>

        <!-- <button class="btn btn-success container-fluid" type="button">
          Invoice
        </button> -->

      </div>
    </div>
  </p>
  <p>
  <div class="collapse" id="collapseExample1">
    <div class="card card-body text-left">
      <form>
        <label>Name: </label> Malandore <br>
        <label>Description: </label> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad ex sed molestiae fuga sit tempora libero molestias voluptatem iure quam. <br>
        <label>Price: </label> $ 5.00 <br>
        <label>Equipments: </label>
          <ul>
            <li>Lorem.</li>
            <li>Voluptates.</li>
            <li>Sint.</li>
            <li>Voluptates.</li>
          </ul>
        <label>Location: </label> Launch Garage <br>
        <label>Date Booked: </label> June 1, 2018
      </form>
    </div>
  </div>
  </p>

</div>  <!-- end div -->