<div class="container-fluid">
<h1> My Bookings </h1>
  <br>
  <div class="row">
    <div class="col-6">
    </div>
    <div class="col-3">
      <button class="btn btn-secondary container-fluid">Download as CSV</button>
    </div>
    <div class="col-3">
      <button class="btn btn-secondary container-fluid">Download as PDF</button>
    </div>
  </div>
  <br>
  <p>
    <div class="row">
      <div class="col-10">
        <button class="btn btn-primary container-fluid" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Room Booking
        </button>
      </div>
      <div class="col-2">
        <button class="btn btn-success container-fluid" type="button">
          Invoice
        </button>
      </div>
    </div>
  </p>
  <p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
  </div>
  </p>

<p>
  <button class="btn btn-primary col-lg-10" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-target
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>

<p>
  <button class="btn btn-primary col-lg-10" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-target
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>
</div>