<div class="container">
  <div class="row">
    <div class="col-md-6 text-left">
      <h1>Manage Your Spaces Efficiently</h1>
      <br>
      <p>CoSpace is a web-based management application for CoWorking spaces. It helps you simplify administrartive tasks while focusing on what really matters --connecting to your members!</p>
      <br>
      <h3> Get Started </h3>
      <%= link_to "Sign up", new_member_registration_path, class: "btn btn-primary" %>
      <br><br>
      <p>Experience CoSpace NOW!</p>
    </div>
    <div class="col-md-6">
      <img src="http://via.placeholder.com/400x400">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <br><br>
      <h3>Coworking</h3>
      <br>
      <img src="http://via.placeholder.com/300x300">
    </div>
    <div class="col-md-6">
      <br><br>
      <h3>Meeting & Event</h3>
      <br>
      <img src="http://via.placeholder.com/300x300">
    </div>
  </div>
   <div class="row">
    <div class="col-md-12 text-left">
      <br><br>
      <h2>About us</h2>
      <br>
      <p>Your convenience in one application! CoSpace helps you manage your coworking spaces by empowering you with the tools needed from reservation to reports. <br /> <br /> No matter how big or small the space you are managing, CoSpace will be your partner! <br /> <br />
      One platform for all your adminstrative tasks. Manage your booking and billing, generate report, connect to your members and more --all in one application with responsive interface.
      </p>  
      <br>
      <img src="http://via.placeholder.com/1050x500" style="width: 100%;">
    </div>
  </div>
</div>
</div>




  

