<div class="container">
  <div class="row">
    <div class="col-md-6 text-left">
      <h1>Lorem ipsum dolor sit amet.</h1>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde inventore eos vel eligendi sequi, architecto incidunt, et rem voluptatem! Magnam voluptatem neque, eaque distinctio. Tempora non porro officia quasi molestiae aspernatur ipsa neque, voluptas aliquid hic ad quaerat reiciendis, magni!</p>
      <br>
      <h3> Get Started </h3>
      <%= link_to "Sign up", new_member_registration_path, class: "btn btn-secondary" %>
      <br><br>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="col-md-6">
      <img src="http://via.placeholder.com/400x400">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <br><br>
      <h3>Coworking</h3>
      <br>
      <img src="http://via.placeholder.com/300x300">
    </div>
    <div class="col-md-6">
      <br><br>
      <h3>Meeting & Event</h3>
      <br>
      <img src="http://via.placeholder.com/300x300">
    </div>
  </div>
   <div class="row">
    <div class="col-md-12 text-left">
      <br><br>
      <h2>About us</h2>
      <img src="http://via.placeholder.com/1050x500" style="width: 100%;">
    </div>
  </div>
</div>
</div>




  

