<div class="col-12">
  <h1 class="text-left font-weight-bold"> Account Settings </h1>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-basic-tab" data-toggle="pill" href="#pills-basic" role="tab" aria-controls="pills-basic" aria-selected="true">Account Information</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-password-tab" data-toggle="pill" href="#pills-password" role="tab" aria-controls="pills-password" aria-selected="false">Password Reset</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-notification-tab" data-toggle="pill" href="#pills-notification" role="tab" aria-controls="pills-notification" aria-selected="false">Notification</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-payment-tab" data-toggle="pill" href="#pills-payment" role="tab" aria-controls="pills-payment" aria-selected="false">Payment Methods</a>
      </li>
    </ul>
</div>

<!-- Emails -->
<div class="container-fluid">
  <h3 class="text-left font-weight-bold">Notifications</h3>
    <div class="form-group row">
      <div class="col-sm-1"></div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" checked> <b>Reminders</b> - Receive booking reminders, requests to write a review, pricing notices, and other reminders related to your activities on CoSpace in your email.
        </label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-1"></div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" checked> <b>Invoices</b> - Quickly received your invoices.
        </label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-1"></div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" checked> <b>Promotions</b> - Receive coupons, promotions, surveys, product updates, and inspiration from CoSpace and its partners.Find out first about new products.
        </label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-1"></div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" checked> <b>Policy and Community</b> -Receive updates on cospace regulations and stay informed about events in CoSpace       
        </label>
       </div>
    </div>
    <div class="form-group container-fluid">
        <div class="col-sm-2">
          <button type="submit" class="btn btn-success">Save</button>
        </div>    
      </div>
  
</div>

