<div id="footer-divider">
</div>
<footer id="myFooter">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 myCols">
        <h5>Get started</h5>
        <ul>
          <li><%= link_to "Home", root_url %></li>
          <li><%= link_to "Sign up", new_member_registration_path %></li>
        </ul>
      </div>
      <div class="col-sm-3 myCols">
        <h5>Contact Us</h5>
        <ul>
          <li>8-7000</li>
          <li>info@cospace.com</li>
        </ul>
      </div>
      <div class="col-sm-3 myCols">
        <h5>Address</h5>
        <ul>
          <li>Level 2, Industria Mall,
              Circulo Verde, Calle Industria,
              1110 Manila, Philippines</li>
        </ul>
      </div>
      <div class="col-sm-3 myCols">
        <h5>Find us on</h5>
        <div class="social-networks">
    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
    <a href="#" class="facebook"><i class="fa fa-facebook-official"></i></a>
    <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
  </div>
      </div>
    </div>
  </div>
  <!-- ommitted can be use in future restyling -->
  <!-- <div class="social-networks">
    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
    <a href="#" class="facebook"><i class="fa fa-facebook-official"></i></a>
    <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
  </div> -->
</footer>