<h1> About Us </h1>
<p> We're a bunch of newbies at ikigai dojo who are trying to learn ruby :)</p>

<h2> Our Team </h2>

<ul>
  <li>Ulysses Legaspi</li>
  <li>Finn Rothacker</li>
  <li>Mark Hermano</li>
  <li>Kate Reverente</li>
  <li>Monique Manansala</li>
  <li>Arvin Peralta</li>
</ul>