<div class = "container-fluid">
  <h1 class="heading">Calendar</h1>
  <small>Click on a day to show avaliablility</small>
</div>
<br>
<br>
<%= month_calendar do |date| %>
  <%= link_to date.day, show_spare_calendars_path(this_day: date),
  :class => "calendar-cell btn btn-secondary container-fluid ", :remote => true %>
<% end %>
<!-- creates link on each calendar day which calls 'show_spare' in the calendar controller
The 'show_spare_calendars_path' path works because it was defined in routes.rb.

The made also passes the date clicked as 'this_day:', to th show_spare function

note: "remote => true" instructs rails not to reload and instead lets Ajax run. -->

<br>
<br>


      <div class="container-fluid">
        <!-- gets replaced by show_spare.js.erb when a calendar day is clicked-->
        <!-- this is to ill the space before a day is clicked -->
        <div id="available_rooms">
          <div class="row">
            <div class='col-4'>
              <div class='list-group' id='list-tab' role='tablist'>
                <h5> Click a day in the calendar</h5>
                <a class = 'list-group-item' > no rooms yet
                </a>
              </div>
            </div>
            <div class='col-8'>
              <div class='tab-content' id='nav-tabContent'>  
                <div class='container-fluid'> 
                  <h2> Rooms load here </h2>
                  <br><p>
                  Click on a day in the calendar above <br>
                  </p><br> 
                </div>
              </div>
            </div>
          </div> <!-- row end -->
        </div> <!-- available_rooms end -->
        
      </div> <!-- container-fluid end -->
<br>
<br>
<br>
<br>



