<div class = "container-fluid">
  <h1 class="heading">Calendar</h1>
  <small>Click on a day to show avaliablility</small>
</div>
<br>
<br>
<%= month_calendar do |date| %>
  <%= link_to date.day, show_spare_calendars_path(this_day: date), :remote => true %>
<% end %>
<!-- creates link on each calendar day which calls 'show_spare' in the calendar controller
The 'show_spare_calendars_path' path works because it was defined in routes.rb.

The made also passes the date clicked as 'this_day:', to th show_spare function

note: "remote => true" instructs rails not to reload and instead lets Ajax run. -->

<br>
<br>


      <div class="container-fluid">
        <!-- gets replaced by show_spare.js.erb when a calendar day is clicked-->
        <!-- this is to ill the space before a day is clicked -->
        <div id="available_rooms">
          <ul class ="list-group">
            <li class = "list-group-item">Click a day to see available rooms</li>
          </ul>
        </div>
        
      </div> <!-- container-fluid end -->
<br>
<br>
<br>
<br>



