<h1>Calendar</h1>
<small>Click on a day to show avaliablility</small>
<br>
<br>
<%= month_calendar do |date| %>
  <%= link_to date.day, show_spare_calendars_path(this_day: date), :remote => true %>
<% end %>

<br><br>


<br>
<br>
<br>


      <div class="container-fluid">
        <div class="row">
          <div id="avaliable_rooms">
            <ul class ="list-group">
              <li class = "list-item">Select a day to show unbooked rooms</li>
              
            </ul>
          </div>
          <div class="col-12">
            <br>
            <div class="btn-group">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopuptrue" aria-expanded="false">
                Select room
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">These are all sample rooms</a>
                <a class="dropdown-item" href="#">A1</a>
                <a class="dropdown-item" href="#">A2</a>
                <a class="dropdown-item" href="#">A3</a>
                <a class="dropdown-item" href="#">A4</a>
              </div>

            </div> 
            <button class="btn btn-primary">
              Book now
            </button><br><br>
              <p>We'll send you an email with all the details</p>
          </div>
        </div> 
      </div> <!-- buttons below end -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>



