<h1>Calendar</h1>
<small>Click on a day to show avaliablility</small>
<br>
<br>
<%= month_calendar do |date| %>
  <%= date.day %>
<% end %>

<br><br>

<div>
  <ol class="list">
    <li>insert list of avaliable days here</li>
    <li>insert list of avaliable days here</li>
    <li>insert list of avaliable days here</li>
    <li>insert list of avaliable days here</li>
    <li>insert list of avaliable days here</li>
  </ol>
</div>
<br>
<br>
<br>


      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <br>
            <div class="btn-group">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopuptrue" aria-expanded="false">
                Select room
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">These are all sample rooms</a>
                <a class="dropdown-item" href="#">A1</a>
                <a class="dropdown-item" href="#">A2</a>
                <a class="dropdown-item" href="#">A3</a>
                <a class="dropdown-item" href="#">A4</a>
              </div>

            </div> 
            <button class="btn btn-primary">
              Book now
            </button><br><br>
              <p>We'll send you an email with all the details</p>
          </div>
        </div> 
      </div> <!-- buttons below end -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>



