<div id="rooms" class="transition-enabled">
  <h1>Rooms</h1>
  <%- @rooms.each do |room| %>
    <div class="box panel panel-default">
       <div class="panel-body">
        <h2><%= link_to room.name, room %></h2>
        <p>
          Submitted by 
          <%= room.description %>
        </p>
      </div>
    </div>
  <% end %>
</div>
