
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "simple_calendar";

// This custom is only temporary solution
html {
  height: 100%;
}

body {
  margin: 0;
  position: relative;
  min-height: 100%;
  /*padding-bottom: 24rem;*/

  padding-top: 54px;
  overflow-x: hidden;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
  
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

/* footer */
#footer-divider {
  position: relative;
  padding-bottom: 24rem;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

#myFooter {
  background-color: grey;
  color:white;
}

/*#myFooter .footer-copyright{
  background-color: #383737;
  padding-top:3px;
  padding-bottom:3px;
  text-align: center;
  margin: 0px;
}

#myFooter .footer-copyright p{
  margin:10px;
  color: #ccc;
}*/

#myFooter ul{
  list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#myFooter h5{
  font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a{
  color:#d2d1d1;
  text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus{
  text-decoration: none;
  color:white;
}

#myFooter .myCols{
  text-align: center;
}

#myFooter .social-networks{
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

#myFooter .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover{
  text-decoration: none;

}

#myFooter .facebook:hover{
  color:#0077e2;
}

#myFooter .google:hover{
  color:#ef1a1a;
}

#myFooter .twitter:hover{
  color: #00aced;
}

@media screen and (max-width: 767px){
  #myFooter {
    text-align: center;
  }
}

.calendar-cell {
  height: 100%;
  background-color: transparent;
  border-color: transparent;
  color: grey;
  font-size: 1.25em;
}

.calendar-cell :hover {
  background-color: darkgrey;
  color: white;  
}

.switch_month {
  background-color: transparent;
  border-color: transparent;
  color: grey;
}

.switch_month:hover {
  background-color: lightgrey;
  border-color: lightgrey;
  color: white;
}

.display-booking {
  min-width: 400px;
  width: 80%;
}

.invoice-button {
  width: 20%;
}

.bookings-container {
  background-color: white;
  padding: 20px;
  padding-top: 0px;
  border-style: solid;
  border-width: 2px;
  border-color: lightgrey;
  border-radius: 4px;
}

.padding-bum {
  margin-bottom: 30px;
  min-height: 200px;
}






